## Configuration
configparser==5.0.0

## Database Connectivity
pyodbc==4.0.22
sqlalchemy==1.2.1

## Cache
redis==3.4.0

## Test Dependencies
#unittest==0.0.0

## Asset Management
cloudinary==1.20.0

## Python Environment
##pip==20.0.2

## Others
numpy==1.14.2
opencv-python==3.4.2
